<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/add-country" method="POST">
        <div>
            <label for="Code">Code</label>
            <input type="text" name="code" id="code">
        </div>
        <div>
            <label for="fullName">Full Name</label>
            <input type="text" name="fullName" id="fullName">
        </div>
    </form>
</body>
</html>